// html {
//   height: 100%;
// }

body {
  // font-family: "M PLUS 1", sans-serif;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #ffb800;
  // margin: 0;
  // padding: 0;
  // height: 100%;
}

.container {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto 1rem;
  height: 100%;
}

.container h1 {
  font-size: 4rem;
  font-weight: 600;
  position: relative;
}

.container h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background: #313131;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container h2 {
  font-size: 3rem;
  font-weight: 600;
}

.container h3 {
  font-size: 2rem;
  font-weight: 600;
}

.container h4 {
  font-size: 1rem;
  font-weight: 600;
}

.container p {
  font-size: 3rem;
  font-weight: 400;
}

.form {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 1px 4px 5px #a0a0a0 inset;
}

#textarea {
  height: 8rem;
}

.label {
  display: flex;
  text-align: left;
}

.box {
  display: flex;
  border: solid 1px #313131;
  background-color: #ffd25e;
  margin-bottom: 1rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  box-shadow: 2px 4px 5px #b48100;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn-bk {
  background: #313131;
  color: #ffffff;
  margin-bottom: 1rem;
  width: 40%;
  height: 3rem;
  border: solid 1px #313131;
  border-radius: 8px;
  box-shadow: 2px 4px 5px #b48100;
}

.btn-wh {
  background: #ffffff;
  color: #313131;
  border: solid 1px #313131;
  margin-bottom: 1rem;
  width: 40%;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 2px 4px 5px #b48100;
}

.btn-menu {
  height: 2rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 0px 0px #313131;
  font-size: 1rem;
}

.btn-right {
  margin: 1rem 0 auto 10%;
}

.btn-left {
  margin: 1rem 10% auto 0;
}

.btn-min {
  // width: 50%;
  height: 2rem;
}

.btn-min-left {
  // width: 50%;
  height: 2rem;
  margin-right: 0.5rem;
}

.btn-max {
  margin: 1rem 0 auto auto;
  width: 100%;
  height: 3rem;
}

.wordlist-btn {
  // box-shadow: 2px 4px 5px #959595;
  text-align: left;
  justify-content: "space-between";
}

.word-list {
  display: flex;
  border: solid 1px #313131;
  border-radius: 8px;
  box-shadow: 2px 4px 5px #b48100;
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  text-align: center;
  height: 2rem;
  width: 100%;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: 313131;

  // .word-list-left {
  //   display: flex;
  //   padding: auto auto auto 1rem;
  //   align-items: center;
  //   justify-content: flex-start;
  //   height: 100%;
  //   width: 70%;
  // }

  // .word-list-right {
  //   display: flex;
  //   padding: auto 1rem auto auto;
  //   margin-bottom: 0.5rem;
  //   // padding: 1rem 10% auto 0;
  //   align-items: center;
  //   justify-content: flex-end;
  //   height: 100%;
  //   width: 30%;
  // }
}

.question {
  display: flex;
  justify-content: center;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.page-title {
  display: flex;
  justify-content: center;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#error-page h1 {
  font-size: 4rem;
  font-weight: 600;
}

#error-page p {
  font-size: 1.5rem;
  font-weight: 400;
}
#error-page p i {
  font-size: 1.5rem;
  font-weight: 100;
}
.grouplist {
  height: 100vh;
}

.group-list {
  display: flex;
  border: solid 1px #313131;
  border-radius: 8px;
  box-shadow: 2px 4px 5px #b48100;
  background-color: #ffd25e;
  margin-bottom: 1rem;
  text-align: center;
  height: 3rem;
  width: 100%;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: 313131;
}

.spacer3 {
  margin-top: 3rem;
}

.menu {
  padding: 0 0 1rem 0;
  background: #313131;
  color: #ffffff;
  height: 50%;
  border-radius: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  z-index: 100;
  margin: 0 1rem 0 auto;
}

.word-close {
  text-align: right;
}

// .input::placeholder {
//   color: #313131;
//   font-size: 1.2em;
//   text-indent: 1rem;
// }

.label {
  text-align: left;
  font-size: 0.8rem;
}
