/* .container {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.form {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
}

.btn {
  width: 40%;
}

.btn-right {
  margin: 1rem 0 auto 10%;
}

.btn-left {
  margin: 1rem 10% auto 0;
} */
